<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<%-include ('partials/encabezado.html'); %>
<body>
    <div class="p-3 mb-2 bg-primary text-white">
    <form action="/PaginaM" method="post">
        <br>
     
            
                <label for="" class="col-sm-2 col-form-label">Num Boleto</label>
              
                    <input type="number" name="nboleto" id="nboleto" required="true">
              
        
            <br>
            
                <label for="" class="col-sm-2 col-form-label">Destino</label>
                
                    <input type="text" name="destino" id="destino" required="true">
                
            <br>
            
                <label for="" class="col-sm-2 col-form-label">Nombre del Cliente</label>
                
                    <input type="text" name="ncliente" id="ncliente" required="true">
              
                
                <br>
                <label for="" class="col-sm-2 col-form-label">Años cumplidos</label>
              
                    <input type="number" name="añosc" id="añosc" required="true">
               
                <br>           
                <label for="" class="col-sm-2 col-form-label">Tipos de viaje</label>
               
                    <select name="tviaje" id="tviaje">
                        <option value="1">Sencillo</option>
                        <option value="2">Doble</option>
                    </select>
             
            
                <br>
                <label for="" class="col-sm-2 col-form-label" >Precio</label>
                
                    <input type="text" name="precio" id="precio" required="true">
           
          
            <br>
            <hr>
          
           
                    <button type="submit">Calcular</button>
                    <button type="reset">Limpiar</button>
                
       
                <% 
					let subt=0;
					var imp=0;
					let descuento=0;
					let tot=0;
                    let most=0;
					subt=precio;
					imp= subt*0.16;

					if(tviaje==2){
						subt=subt*1.8;
						imp=subt*0.16;
                       
					}

					if(añoscum>=60){
						descuento=0.5;
                        most=(subt+imp)*descuento;
						tot=((subt+imp)*descuento);
                        
					}else{
						tot=(Number(subt) + Number(imp));
					}
				%>
                    
                    <h3>Resumen del viaje</h3>
                    <br/>
                    <label for="">Subtotal</label>
                    <input type="text" disabled value="<%=subt%>"name="" id="">
                    <br/>
                    <label for="">Impuesto</label>
                    <input type="number" disabled value="<%=imp%>"name="imp" id="imp">
                    <br>
                    <label for="">Descuento</label>
                    <input type="number" disabled value="<%=most%>"name="" id="">
                    <br>
                    <label for="">Total a pagar</label>
                    <input type="number" disabled value="<%=tot%>"name="" id="">
                    
                
                
      
    </form>
 
    </div>
    
    <%-include ('partials/pie.html'); %>
</body>

</html>



